(
    position: Some((${MONITOR_1_X}, ${MONITOR_1_Y})),
    width: ${MONITOR_1_WIDTH},
    height: ${MONITOR_1_HEIGHT},
    monitor_index: 1,
    mode: BorderlessFullscreen,
    app_name: "restore_window",
)
