(
    position: Some((${MONITOR_1_X}, ${MONITOR_1_Y})),
    width: ${MONITOR_1_VIDEO_MODE_WIDTH},
    height: ${MONITOR_1_VIDEO_MODE_HEIGHT},
    monitor_index: 1,
    mode: Fullscreen(
        video_mode: Some((
            physical_size: (${MONITOR_1_VIDEO_MODE_WIDTH}, ${MONITOR_1_VIDEO_MODE_HEIGHT}),
            bit_depth: ${MONITOR_1_VIDEO_MODE_DEPTH},
            refresh_rate_millihertz: ${MONITOR_1_VIDEO_MODE_REFRESH},
        )),
    ),
    app_name: "restore_window",
)
